.home-page {
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .options span {
    margin-left: 20px;
    cursor: pointer
  }
  
  .body {
    margin: 20px;
    text-align: left;
    display: flex;
  }
  .body-left{
    width: 60%;
    padding-top: 10% !important;
  }
  .body p{
    font-style: oblique;
    font-size: 20px
  }
  .body img{
    width: 40%;
    height: 425px;
  }
  .button{
    color: white;
    background: darkblue;
    padding: 15px;
    font-size: medium;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* ContactInfo.css */
.contact-info {
    max-width: 400px;
    /* margin: 0 auto; */
    padding-left: 40%;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  strong {
    margin-right: 5px;
  }

  li a{
    color: black;
    text-decoration: none
  }

  .education {
    display: flex;
    margin-left: 5%;
    margin-top: 4%;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    padding: 25px;
    align-items: center;
  }
  .education img {
    width: 50px;
    height: 50px;
  }
  .education span{
    margin-left: 35px 
  }
  .education ul {
    list-style: disc;
    margin-left: 75px 
  }
  .education-desc {
    display: grid;
    font-size: large;
  }
  